<h1>Your current contacts are:</h1>

<ol>

	<%@sorted_contacts.each do |contact|%>
	<li>  
		<%=link_to contact.name, controller: "contacts", action: "show", id: contact.id  %>
	</li>

	<%end%>


</ol>


<%=link_to "Add contact", "/new" %>