<h1>Add a contact:</h1>
	
	<form action="/add" method="post">
		<div>
			<label for="contact_name"></label>
			<input id="contact_name" type="text" name="contact[name]" placeholder="Contact name">
		</div>
		<div>
			<label for="contact_phonenumber"></label>
			<input id="contact_phonenumber" type="text" name="contact[phonenumber]" placeholder="Phone number">
		</div>
		<div>
			<label for="contact_address"></label>
			<textarea id="contact_address" name="contact[address]" placeholder="Address"></textarea>
		</div>
		<div>
			<label for="contact_email"></label>
			<input id="contact_email" type="text" name="contact[email]" placeholder="Email">
		</div>
		<div>
			<label for="contact_favorite"></label>
			<input id="contact_favorite" type="checkbox" name="contact[favorite]" value="true">
		</div>
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
		<button type="submit">Create contact</button>
	</form>